body#List_of_Users{ background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;}



.table {
    margin-top: 5em;
}

.table td, .table th {
    border-top : 0px;
}
.form-heading { color:#fff; font-size:23px;}

